.home {
	min-height: 100vh;
	background-color: #f0f0f0; /* Light gray background */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: black;
}

.home-content {
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #333;
}

p {
	font-size: 1rem;
	margin-bottom: 1.5rem;
	color: #666;
}

img.main-logo {
	width: 200px;
}

/* 
 Media query for tablets 
@media screen and (min-width: 768px) {
	h1 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.2rem;
	}

	.cta-button {
		font-size: 1.1rem;
	}
} */

/* Media query for desktops */
@media screen and (min-width: 1024px) {
	h1 {
		font-size: 3rem;
	}

	p {
		font-size: 1.4rem;
	}

	.cta-button {
		font-size: 1.2rem;
		padding: 12px 24px;
	}
}
