/* register.css */

.page-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    position: relative;
  }
  
  .form-title {
    text-align: center;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #CA27C9;
    color: #fff;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    padding: 10px;
    background-color: #06B4CF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-grow: 1;
    font-size: 1rem;
    margin: 5px;
    font-weight: bold;
  }
  
  .button-prev {
    padding: 10px;
    background-color: #FFEB3B;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-grow: 1;
    font-size: 1rem;
    margin: 5px;
    font-weight: bold;
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 15px;
  }
  
  .link {
    color: #ff00ff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  