.presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.top-section {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.aidie-large {
    max-width: 200px;
    height: auto;
}

.middle-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.middle-section .text-box {
    flex-grow: 1;
}

.middle-section .text-box:nth-child(1) {
    flex: 0 0 20%;
}

.middle-section .text-box:nth-child(2) {
    flex: 0 0 25%;
}

.middle-section .text-box:nth-child(3) {
    flex: 0 0 45%;
}

.aidie-small {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.bottom-section .text-box {
    flex: 1;
    margin-right: 20px;
}

.text-box {
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
}

.pink-border {
    border: 2px solid pink;
}

h1 {
    font-size: 2.2rem; /* Tamaño más pequeño acorde con index.css */
    font-weight: 700; /* Acorde con la fuente Lato */
}

p {
    font-size: 1.2rem; /* Tamaño más pequeño acorde con index.css */
    font-weight: 400;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
}

.inline-image {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
